MyAWSCPLApp/obj/MyAWSCPLApp.csproj.nuget.dgspec.json
MyAWSCPLApp/obj/MyAWSCPLApp.csproj.nuget.g.props
MyAWSCPLApp/obj/MyAWSCPLApp.csproj.nuget.g.targets
MyAWSCPLApp/obj/project.assets.json
MyAWSCPLApp/obj/project.nuget.cache
MyAWSCPLApp/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
MyAWSCPLApp/obj/Debug/netcoreapp2.1/MyAWSCPLApp.AssemblyInfo.cs
MyAWSCPLApp/obj/Debug/netcoreapp2.1/MyAWSCPLApp.AssemblyInfoInputs.cache
MyAWSCPLApp/obj/Debug/netcoreapp2.1/MyAWSCPLApp.assets.cache
MyAWSCPLApp/obj/Debug/netcoreapp2.1/MyAWSCPLApp.csprojAssemblyReference.cache
MyAWSCPLApp/obj/Debug/netcoreapp2.1/MyAWSCPLApp.RazorAssemblyInfo.cache
MyAWSCPLApp/obj/Debug/netcoreapp2.1/MyAWSCPLApp.RazorAssemblyInfo.cs
